/* first design for phone 280px*/


header {
    height: 25rem;
    font-family: 'Bebas Neue';
    font-size: 2rem;
    background-color: burlywood;
    background: url(../img/background-header.jpg);
    text-align: center;
}

nav{
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.logo {
    margin-top: 10rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(99, 87, 76);  
    text-shadow: 2.5px 2.5px rgba(255, 255, 255, 0.699);
}

.nav-links {
    margin-top: 9rem;
    border: 2px rgb(99, 87, 76) solid;
    width: 40%;
    list-style: none;
    align-self: flex-end;
    background: rgba(255, 255, 255, 0.589);
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    color:  rgba(0, 0, 0, 0.808);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.699);
}

.cart {
    right: 5rem;
    align-self: flex-end;
    text-align: center; 
}


.admin-login {
    margin-top: 4rem;
    padding: 0.5rem;
    border: 2px inset  rgba(0, 0, 0, 0.116) ;
    background-image: linear-gradient(to right,  #f1ebc5, #ffd685);
    width: 100%;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.1rem;
}

.add-cart{
    /* position: absolute; */
    width: auto;
    background-color: rgb(202, 198, 193);
    text-decoration: none;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.3rem;
}


.product-list {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.product-info {
    text-align: left;
} 

.product-card {
padding: 1rem;
display: block;
background-color: rgba(218, 201, 127, 0.393);
text-align: center;
border: 5px solid rgba(99, 87, 76, 0.555);
border-radius: 12px;
margin: auto;
margin-bottom: 2rem;
width: 70%;
}

 .product-pic, .product-name, .product-description, .product-price {
    flex-direction: column;
    padding: 0.1rem;
    border-radius: 0.2rem;
}