/* first design for phone 280px*/


.add-cart{
    /* position: absolute; */
    width: auto;
    background-color: rgb(202, 198, 193);
    text-decoration: none;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.3rem;
}


.product-list {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 3rem;

}

.product-info {
    text-align: left;
} 

.product-card {
padding: 1rem;
display: block;
background-color: rgba(218, 201, 127, 0.393);
text-align: center;
border: 5px solid rgba(99, 87, 76, 0.555);
border-radius: 12px;
margin: auto;
margin-bottom: 2rem;
width: 70%;
}

 .product-pic, .product-name, .product-description, .product-price {
    flex-direction: column;
    padding: 0.1rem;
    border-radius: 0.2rem;
}