.bodyCO{
    font-size: 20px;
    padding: 8px;
    box-sizing: border-box;
}
h3{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    
}
.col-1{
    flex: 25%;
}
.col-2{
    flex: 50%;
}
.col-3{
    flex: 75%;
}
.col-1, .col-2, .col-3{
    padding: 0px 16px;
}
.containerCO{
    background-color: beige;
    padding: 3px 18px 13px 18px;
    border: 1px solid black;
    border-radius: 5px;
}
.row input[type=text] {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
label{
    margin-bottom: 10px;
    display: block;
}
@media(max-width:800px){
    .row{
        flex-direction: column-reverse;
    }
    .col-1{
        margin-bottom: 20px;
    }
}