body {
    background-color: rgba(185, 169, 151, 0.856);
}

.contact-us-1 {
    display: flex;
    justify-content: center;
}

.logo {
    font-family: 'Bebas Neue';
    text-transform: uppercase;
}

.contact-us-1 {
    width: 100%;
}

li {
    padding-top: 0.5rem;
}

.form-contact {
    list-style-type: none;
}

label, input {
    margin-left: 10%;
    margin-bottom: 1rem;
    padding: 1rem;
}

#text {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    height: 6rem;
    border: 7px black solid;
}

#name, #mail, #message {
    margin-left: 15%;
    margin-right: auto;
    padding-left: 0.5rem;
    width: 70%;
}

#message {
    height: 8rem;
}

.send-button {
    margin-left: 25%;
    width: 50%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }







