
/*header*/
header {
    height: 40vh;
    font-family: 'Bebas Neue';
    background: url(../img/background-header.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}