
/*header*/
header {
    height: 40vh;
    font-family: 'Bebas Neue';
    font-size: 2rem;
    background-color: burlywood;
    background: url(../img/background-header.jpg);
    text-align: center;
}
