*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: grey;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-links li{
    list-style: none;
    
}
.nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.add-cart{
    /* position: absolute; */
    width: auto;
    background-color: grey;
    text-decoration: none;
    text-align: center;
}
